.featuredSpeakers .speakers li {
  display: -webkit-box;
  display: flex;
  margin-top: 20px;
  margin-top: 7px;
}

.program li img {
  margin-right: 5px;
  margin-left: 5px;
}

.menu.mobile ul li {
  margin-top: 5rem;
  font-size: 30px;
  color: white;
}

.menu.mobile ul li:hover,
.menu.mobile ul li:active {
  color: rgb(243, 110, 95);
}

.menu.Desktop ul li:hover,
.menu.Desktop ul li:active {
  color: #ec5242;
}

.featuredSpeakers .speakers li img {
  width: 100px;
  height: 90px;
  margin-right: 20px;
}

.featuredSpeakers .speakers li img:hover,
.featuredSpeakers .speakers li img:active {
  -webkit-box-shadow: 10px 10px 10px 10px;
  box-shadow: 10px 10px 10px 10px;
  width: 90px;
  height: 90px;
  margin-right: 20px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f5f4f4;
}

body .Desktop {
  display: none;
}

#headerList {
  list-style: none;
  margin-top: 0;
  display: -webkit-box;
  display: flex;
  margin-bottom: 0;
}

#menuButton {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: -29px;
}

.menu.mobile {
  background-color: #000000c9;
  width: 100%;
  height: 108vh;
  position: absolute;
  top: -1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  left: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}

.menu.mobile ul {
  list-style: none;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: -12px;
}

.menu.Desktop ul {
  list-style: none;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.buyTicket {
  border-style: solid;
  border-width: 2px;
  border-color: #ec5242;
  padding: 10px;
  color: #fff;
}

.buyTicket:hover,
.buyTicket:active {
  background-color: #ec5242;
  color: #272a31;
}

.home-page {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url("assets/back-img.png");
  backdrop-filter: blur(10px);
  background-position-x: -30rem;
  background-position-y: 8rem;
  background-repeat: no-repeat;
  background-clip: border-box;
}

@font-face {
  font-family: Cocogoose;
  src: url("assets/cocogoose-pro.regular.ttf");
}

.home-page h1 {
  color: #ec534271;
  font-family: 'Cocogoose', sans-serif;
  font-style: normal;
  font-weight: 900;
  margin-top: 1px;
  margin-left: 10px;
  font-size: 32px;
  background-image: url(assets/orange.jpg);
  background-clip: border-box;
  -webkit-background-clip: text;
}

.home-page span {
  color: #ec5342;
  font-style: normal;
  font-weight: normal;
  font-family: sans-serif;
}

.home-page span:nth-child(3) {
  color: #ec534288;
  background-image: url(assets/orange.jpg);
  background-clip: border-box;
  -webkit-background-clip: text;
}

.home-page .top {
  color: #ec53426e;
  margin-bottom: 0;
  font-size: 32px;
  background-image: url(assets/orange.jpg);
  background-clip: border-box;
  -webkit-background-clip: text;
}

.text-container {
  margin: 4.9px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  background-color: rgba(248, 247, 247, 0.712);
  width: 95vw;
  height: 10rem;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-container p {
  font-family: "Lato", sans-serif;
  color: #606161;
  text-align: left;
  margin: 42px;
  margin-left: 2vw;
  line-height: 1.9;
  width: 77vw;
  font-size: 13px;
}

.home-page .date {
  color: #4d4e50;
  font-size: 27px;
  font-family: sans-serif;
  font-weight: 600;
  margin-left: 6px;
  margin-bottom: 31vw;
  text-align: center;
  margin-top: 88px;
}

.home-page p .location_ {
  color: #69696b;
  font-size: 11px;
  font-weight: 600;
}

.mainProgram {
  background-color: #272a31;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("assets/cancel-1.png");
}

h2 {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 20px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #ec5242;
  content: " ";
  width: 50px;
  margin: 0 auto;
  margin-top: 30px;
}

.icons {
  width: 30px;
  height: 30px;
}

.program {
  list-style: none;
  width: 100%;
}

.program span .partTitle {
  color: #ec5242;
  font-weight: 700;
  font-size: 15px;
}

body .home-page .mainProgram .program li {
  margin: -5px;
  margin-bottom: 27px;
  background-color: rgba(248, 247, 247, 0.233);
  width: 89%;
  height: 71px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-page .mainProgram .program li:hover,
.home-page .mainProgram .program li:active {
  -webkit-box-shadow: 10px 10px 10px 10px;
  box-shadow: 10px 10px 10px 10px;
  opacity: 1;
}

.program li .text {
  font-size: 11px;
  font-family: "lato", sans-serif;
  color: rgb(214, 214, 214);
  margin-left: 6px;
}

.mainProgramButton {
  background-color: #ec5242;
  color: white;
  border-style: none;
  font-family: "lato", sans-serif;
  width: 16rem;
  height: 3rem;
  margin-bottom: 20px;
}

.featuredSpeakers {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.twitter {
  width: 1rem;
  height: 1rem;
  color: white;
}

.featuredSpeakers h2 {
  font-family: "Lato", sans-serif;
  color: #272a31;
}

.speakers {
  list-style: none;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 6px;
  padding-right: 10px;
}

.featuredSpeakers .speakers li .texContainer {
  display: -webkit-box;
  display: flex;
  font-family: "Lato", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 10px;
  margin-top: 12px;
}

.more-btn {
  margin-top: 20px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(202, 200, 200);
  padding: 10px;
  font-family: "Lato", sans-serif;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  margin-left: 2rem;
}

.more-btn:hover,
.more-btn:active {
  color: #272a31;
  -webkit-box-shadow: 5px 5px 5px 5px;
  box-shadow: 5px 5px 5px 5px;
}

.featuredSpeakers .speakers li .texContainer span {
  margin-bottom: 10px;
}

.featuredSpeakers .speakers li .texContainer .name {
  font-size: 15px;
  color: #272a31;
}

.featuredSpeakers .speakers li .texContainer .introduce {
  color: #ec5242;
}

.featuredSpeakers .speakers li .texContainer .introduce::after {
  display: block;
  height: 2px;
  background-color: #cecccb;
  content: " ";
  width: 20px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 1px;
}

.featuredSpeakers .speakers li .texContainer .activity {
  color: #272a31;
}

#down {
  width: 14px;
  height: 14px;
  margin-left: 3px;
}

.more-btn span .up {
  width: 14px;
  height: 14px;
  margin-left: 3px;
}

.logo {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
}

.logo p {
  text-align: center;
  margin: 20px;
  font-family: "Lato", sans-serif;
  font-size: 11px;
  color: #a6a7aa;
}

.logoImage {
  width: 100%;
  height: 100%;
  margin: 0;
}

.logo h2,
.pastSummit h2 {
  color: #272a31;
  margin-left: 54px;
  margin-right: 70px;
  text-align: center;
  margin-top: 50px;
}

.LogoImageContainer {
  width: 15rem;
  margin-left: 16px;
  height: 45vmax;
  border-style: solid;
  border-width: 1px;
  border-color: #ddddddcb;
  background-color: white;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pastSummit::before {
  display: block;
  height: 2px;
  background-color: #e2e0e0;
  content: " ";
  width: 100%;
  position: relative;
  margin-top: 20px;
  right: -4px;
  top: 2rem;
}

.pastSummit {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: white;
}

.pastSummit p {
  font-family: "Lato", sans-serif;
  color: #69696b;
  text-align: center;
  margin-left: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 10px;
}

.pastImg.first {
  background-image:
    -webkit-gradient(linear, left top, left bottom, from(#ec53428e), to(#ec534270)),
    url("assets/back-images.jpg");
  background-image:
    -o-linear-gradient(#ec53428e, #ec534270),
    url("assets/back-images.jpg");
  background-image:
    linear-gradient(#ec53428e, #ec534270),
    url("assets/back-images.jpg");
  width: 100%;
  height: 45vmax;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.pastImg.second {
  background-image:
    -webkit-gradient(linear, left top, left bottom, from(#ec53428e), to(#ec534270)),
    url("assets/back-images1.jpg");
  background-image:
    -o-linear-gradient(#ec53428e, #ec534270),
    url("assets/back-images1.jpg");
  background-image:
    linear-gradient(#ec53428e, #ec534270),
    url("assets/back-images1.jpg");
  width: 100%;
  height: 45vmax;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.PastContainer {
  width: 90%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.PastContainer h2 {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: 1pc;
  top: 2rem;
}

.pastSummit .PastContainer h2 span:last-child {
  font-size: 14px;
}

.PastContainer h2::after {
  display: none;
}

footer {
  background-color: #252626;
  background-size: cover;
  margin-top: 20px;
}

.Partner {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer.Partner h2 {
  text-align: center;
  padding-top: 17px;
}

footer.Partner h2::after {
  margin-top: 0.5rem;
}

.PartnerContainer {
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}

.partImage {
  width: 50%;
  height: auto;
  margin: auto;
}

.finalLogo {
  background-color: white;
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: flex;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.finalLogoImage {
  height: 8rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.featuredSpeakers .speakers li .texContainer span:hover,
.featuredSpeakers .speakers li .texContainer span:active {
  text-decoration: underline;
}

.finalLogo p {
  margin-top: 1rem;
  font-family: "Lato", sans-serif;
  color: #69696b;
  font-size: 11px;
  margin-left: 48px;
}

.text-containerAbout-page {
  background-color: white;
  text-align: center;
  font-family: "Lato", sans-serif;
  line-height: 1.9;
  margin: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.text-containerAbout-page p {
  font-family: "Lato", sans-serif;
  color: #606161;
  font-size: 14px;
  text-align: center;
  margin-left: 5px;
  line-height: 1.9;
}

.dateAbout {
  color: #4d4e50;
  font-size: 27px;
  font-family: sans-serif;
  margin: 20px;
  font-weight: 600;
  margin-left: 6px;
  margin-bottom: 7vw;
  line-height: 0.7;
  text-align: center;
}

.dateAbout .dateAbout {
  font-size: 12px;
  color: #272a31;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

.dateAbout .locationAbout {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: #4f4f52;
  font-size: 11px;
  font-weight: 600;
  margin-bottom: 10px;
}

.PastContainer .pastImg.first:hover,
.PastContainer .partImage.first:active {
  background-image:
    url("assets/back-images.jpg"),
    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image:
    url("assets/back-images.jpg"),
    -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image:
    url("assets/back-images.jpg"),
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.PastContainer .pastImg.second:hover,
.PastContainer .pastImg.second:active {
  background-image:
    url("assets/back-images1.jpg"),
    -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0)));
  background-image:
    url("assets/back-images1.jpg"),
    -o-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-image:
    url("assets/back-images1.jpg"),
    linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

.PastContainer .pastImg h2:hover,
.PastContainer .pastImg h2:active {
  font-size: 30px;
  color: #ec5242;
  text-shadow: 10px 10px 10px;
}

.cancel {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-right: 2rem;
  margin-top: -4rem;
  width: 19px;
  height: 18px;
}

body .hidden {
  display: none;
}

.featuredSpeakers .speakers li.hide.hidden {
  display: none;
}

.menu.mobile.hidden {
  display: none;
}

@media only screen and (min-width: 768px) {
  body .mobile {
    display: none;
  }

  body .Desktop {
    display: block;
  }

  .menu.Desktop {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    width: 200%;
    height: 5rem;
    margin-left: -1rem;
    box-shadow: 3px 3px 3px hsl(240deg 8% 46%);
  }

  .menu-Desktop {
    display: flex;
    margin: 0;
    width: 49%;
  }

  .menu-Desktop li {
    margin-left: 4ch;
    margin-right: 1rem;
  }

  .menu-Desktop li:first-child {
    margin-right: 12rem;
    margin-top: 0;
    flex: 5;
  }

  .text-container p {
    font-size: 17px;
    margin-left: 1vw;
  }

  .buyTicket {
    color: #ec5242;
  }

  .text-containerAbout-page p {
    font-size: 17px;
  }

  .dateAbout {
    font-size: 14px;
    background-color: #ffffff8a;
  }

  #headerList {
    background-color: #272a31;
    display: flex;
    justify-content: flex-end;
  }

  .featuredSpeakers .speakers li.hide.hidden {
    display: flex;
  }

  #headerList .languages {
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #headerList .twitter {
    width: 3ch;
    height: 3ch;
    margin-top: 7px;
    color: white;
  }

  .container {
    align-items: flex-start;
    margin-left: 7rem;
  }

  .container p.display-1 {
    font-size: 50px;
  }

  #headerList .facebook a p {
    font-size: 30px;
    color: white;
    font-weight: bolder;
    width: 20px;
    margin: 2px;
    font-family: sans-serif;
  }

  .LogoDesktop {
    width: 6rem;
    height: 4.5rem;
  }

  .container h1 {
    font-size: 80px;
    margin-bottom: -8px;
  }

  .home-page .top {
    margin-top: 6rem;
  }

  .text-container {
    width: 79vw;
    background-color: rgb(243 243 243 / 87%);
  }

  .home-page .date {
    text-align: left;
    font-size: 50px;
    margin-top: 88px;
  }

  .home-page .date .location_ {
    font-size: 20px;
  }

  .program {
    display: flex;
    justify-content: center;
    margin-right: 17px;
  }

  .featuredSpeakers .speakers li {
    margin-right: 10px;
  }

  body .home-page .mainProgram .program li {
    margin-left: -6px;
    height: 10rem;
    width: 19%;
    padding-top: 1rem;
    flex-direction: column;
    margin-right: 10px;
  }

  .program li img {
    margin-bottom: 19px;
  }

  .home-page .mainProgram .program li .text {
    margin-left: 1px;
    margin-top: 8px;
    text-align: center;
  }

  .mainProgram h2.Desktop {
    color: rgb(219, 216, 216);
    font-size: 11px;
    justify-self: center;
    width: 143px;
  }

  .mainProgram h2.Desktop::after {
    background-color: rgb(185, 184, 184);
    margin-top: 1px;
    width: 140px;
    font-weight: normal;
    margin-bottom: 4rem;
  }

  .speakers {
    display: grid;
    height: 724px;
    width: 724px;
  }

  .featuredSpeakers .speakers li.third {
    grid-column: 1;
    grid-row: 3;
  }

  .featuredSpeakers .speakers li.fifth {
    grid-column: 2;
    grid-row: 2;
  }

  .featuredSpeakers .speakers li.fourth {
    grid-column: 2;
    grid-row: 1;
  }

  .featuredSpeakers .speakers li.six {
    grid-column: 2;
    grid-row: 3;
  }

  footer.Partner.hidden {
    display: flex;
    background-color: #252626;
  }

  footer.Partner.hidden .PartnerContainer {
    flex-wrap: nowrap;
  }

  footer.Partner.hidden .PartnerContainer img {
    margin-right: 2rem;
    margin-bottom: 2rem;
    width: 14%;
  }

  footer.Partner .finalLogo {
    justify-content: center;
    margin-top: 10px;
  }

  .LogoImageContainer {
    width: 29vw;
    height: 36vmax;
  }

  .text-containerAbout-page {
    width: 30rem;
  }

  .logoImage {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .PastContainer {
    flex-direction: row;
  }

  .PastContainer div {
    margin-right: 1rem;
    height: 10rem;
  }

  .pastImg.second,
  .pastImg.first {
    height: 21vmax;
  }

  .menu.hidden.mobile {
    display: none;
  }
}